@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(207, 180, 146);
}
/* .container{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
} */

.container > article, .container header{
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
   
}
.container header{
    background-color: #12203e;
    color: white;
}
.container header, .container #name, .container #boton, .container #resultado{
    grid-column: 1 / 3;
}

.container #combinar{
    width: 100%;
    height: 50px;
    font-size: 1.2em;
}
.container fieldset{
    padding: 10px;
}
.container input[type=text]{
    height: 25px;
    padding: 5px;
}
@media (max-width: 700px) {
    .container #genero, .container #tarjeta{
        grid-column: 1/3;
    }
}